#header {
  display: flex;
  justify-content: center;
}

#container {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "fastFood fastCasual"
    "upscale secondRight"
    "thirdLeft thirdRight"
    "fourthLeft fourthRight";
}

#fastFood {
  grid-area: fastFood;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; */
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

#fastCasual {
  grid-area: fastCasual;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  object-fit: contain;
}

#upscale {
  grid-area: upscale;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.categoryHeader {
  display: flex;
  justify-content: center;
  color: blue;
}

.logo {
  object-fit: contain;
  width: 10em;
  height: 10em;
}

#categoryContainer {
}
